.App {
  margin:20px;
  /* text-align: center; */
}
.node{

}
.node-children{
  /* margin-left: 50px; */
  margin-left: 30px;
}

.toggle-children{
  margin: 5px;
  /* background-color: greenyellow; */
}

.add-child-node{
  margin: 2px;
  width: 10px;
  height: 10px;
  /* background-color: greenyellow; */
}

.delete-node{
  margin: 2px;
  /* background-color: greenyellow; */
}
.node-text{
  padding: 5px;
}

.add-next-sibling-node{
  margin: 2px;
  /* background-color: greenyellow; */
}

.path_section{
  /* position:fixed; */
  margin:10px;
  padding: 10px;
}

.zoom-node{
  margin: 2px;
  /* background-color: greenyellow; */
}
