.App {
  text-align: center;
}
.node{

}
.node-children{
  margin-left: 50px;
}

.toggle-children{
  width: 10px;
  height: 10px;
  background-color: greenyellow;
}

.add-child-node{
  margin: 2px;
  width: 10px;
  height: 10px;
  background-color: greenyellow;
}

.delete-node{
  margin: 2px;
  background-color: greenyellow;
}
.node-text{
  padding: 5px;
}
